WebClient/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ExtractAllStudents">
        <s:complexType />
      </s:element>
      <s:element name="ExtractAllStudentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExtractAllStudentsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExtractSomeParts">
        <s:complexType />
      </s:element>
      <s:element name="ExtractSomePartsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExtractSomePartsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExtractDetailInformation">
        <s:complexType />
      </s:element>
      <s:element name="ExtractDetailInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExtractDetailInformationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnAllResults">
        <s:complexType />
      </s:element>
      <s:element name="ReturnAllResultsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReturnAllResultsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExtractAllStudentsSoapIn">
    <wsdl:part name="parameters" element="tns:ExtractAllStudents" />
  </wsdl:message>
  <wsdl:message name="ExtractAllStudentsSoapOut">
    <wsdl:part name="parameters" element="tns:ExtractAllStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="ExtractSomePartsSoapIn">
    <wsdl:part name="parameters" element="tns:ExtractSomeParts" />
  </wsdl:message>
  <wsdl:message name="ExtractSomePartsSoapOut">
    <wsdl:part name="parameters" element="tns:ExtractSomePartsResponse" />
  </wsdl:message>
  <wsdl:message name="ExtractDetailInformationSoapIn">
    <wsdl:part name="parameters" element="tns:ExtractDetailInformation" />
  </wsdl:message>
  <wsdl:message name="ExtractDetailInformationSoapOut">
    <wsdl:part name="parameters" element="tns:ExtractDetailInformationResponse" />
  </wsdl:message>
  <wsdl:message name="ReturnAllResultsSoapIn">
    <wsdl:part name="parameters" element="tns:ReturnAllResults" />
  </wsdl:message>
  <wsdl:message name="ReturnAllResultsSoapOut">
    <wsdl:part name="parameters" element="tns:ReturnAllResultsResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="ExtractAllStudents">
      <wsdl:input message="tns:ExtractAllStudentsSoapIn" />
      <wsdl:output message="tns:ExtractAllStudentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExtractSomeParts">
      <wsdl:input message="tns:ExtractSomePartsSoapIn" />
      <wsdl:output message="tns:ExtractSomePartsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExtractDetailInformation">
      <wsdl:input message="tns:ExtractDetailInformationSoapIn" />
      <wsdl:output message="tns:ExtractDetailInformationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnAllResults">
      <wsdl:input message="tns:ReturnAllResultsSoapIn" />
      <wsdl:output message="tns:ReturnAllResultsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExtractAllStudents">
      <soap:operation soapAction="http://tempuri.org/ExtractAllStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExtractSomeParts">
      <soap:operation soapAction="http://tempuri.org/ExtractSomeParts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExtractDetailInformation">
      <soap:operation soapAction="http://tempuri.org/ExtractDetailInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnAllResults">
      <soap:operation soapAction="http://tempuri.org/ReturnAllResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExtractAllStudents">
      <soap12:operation soapAction="http://tempuri.org/ExtractAllStudents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExtractSomeParts">
      <soap12:operation soapAction="http://tempuri.org/ExtractSomeParts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExtractDetailInformation">
      <soap12:operation soapAction="http://tempuri.org/ExtractDetailInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnAllResults">
      <soap12:operation soapAction="http://tempuri.org/ReturnAllResults" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:64194/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:64194/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>